@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z0mn0n');
  src:  url('fonts/icomoon.eot?z0mn0n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z0mn0n') format('truetype'),
    url('fonts/icomoon.woff?z0mn0n') format('woff'),
    url('fonts/icomoon.svg?z0mn0n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e90a";
}
.icon-wallet:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-ArrowClockwise:before {
  content: "\e905";
}
.icon-ChartLineDown:before {
  content: "\e906";
}
.icon-ChartLineUp:before {
  content: "\e907";
}
.icon-news:before {
  content: "\e908";
}
.icon-transfer-alt:before {
  content: "\e909";
}
.icon-refresh-ccw:before {
  content: "\e901";
}
.icon-message-square:before {
  content: "\e900";
}
.icon-share-2:before {
  content: "\e902";
}
.icon-thumbs-down:before {
  content: "\e903";
}
.icon-thumbs-up:before {
  content: "\e904";
}
